<ol>
<% @tasks.each do |task| %>
<li>  <%= task.content %>
   <%= form_for :task, :url => { :controller => "tasks", :metho => "put" }, :remote => true do |t|%>
   <%= t.hidden_field :id, :value => task.id %>
	   <%= t.check_box :done, :checked => task.done, :class => 'checkable' %>   </li>
  <% end %>
<% end %>
</ol>

<%= form_for(@user.tasks.build) do |f| %>
<table>
  <tr>
    <h3>Create new task</h3>
    <th>Content</th> 
  </tr>
  <tr>   
   <td><%= f.text_field :content %></td>
  </tr>

</table>
    <%= f.submit %>
<% end %>
