<div  id = "header" >

  
		<div id ="title" style="float:right; margin-right:9%"><%= link_to "ToDos", :root %> </div>

	<ul > 
		<% if !user_signed_in? %>
			<li id ="menuitem"><%= link_to "Register", new_user_registration_path %> </li>
			<li  id ="menuitem"><%= link_to "Log In", new_user_session_path  %></li>
		<% else %>
			<li id ="menuitem"><%= link_to("Log Out", destroy_user_session_path, :method => :delete)%></li>
			<li id ="menuitem"><%= link_to "My tasks", my_path %>  </li> 
		<% end %>
		<li id ="menuitem"><%= link_to "All tasks", tasks_path %>   </li>
	</ul>
	<div class ="clear"></div>

</div>
